@font-face {
  font-family: 'opensans-light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Light.ttf') 
}

@font-face {
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Bold.ttf') }

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') 
}


html {
  color: rgb(#efe);
  font-family: 'opensans-light';
  box-sizing: border-box;
}

p {
  color: #fff;
}

a {
  color: #F5DF4D
}

* { 
  margin: 0;
  padding: 0;
  list-style: none;
}